  body {
    font-family: 'Courier New', Courier, monospace; 
    background-color: black; 
    color: turquoise; 
    margin: 0; 
    padding: 0; 
    background-image: url("../images/Background_1.png");
    background-size: cover;
    
  }

  @media (max-width: 768px) {
    body {
      min-height: 100vh;
      background-image: url("../images/Background_2.png");
      background-size: 100% 100%;
      }
  }

  label {
    margin-top: 300px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
  }

section~label {
  background-color: black;
  font-size: medium;
}
table{
    padding: 10px;
    border-style: dashed;
    border-color:gray;
}
  h1 {
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    color: turquoise;
    margin-bottom: 20px;
  }
h2{
    text-align: center;
}
  p {
    font-size: 18px; 
    line-height: 1.5; 
  }
  button {
    background-color: black; 
    border: 2px solid purple; 
    color: turquoise; 
    padding: 20px 40px; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px; 
    margin: 20px auto 0 auto; 
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: #45a049;
}

#error-msg {
  display: none;
  background-color: turquoise;
  color: red;
  padding: 2px 6px;
  width: fit-content;
}