  body {
    font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
    background-color: black; /* Terminal background color */
    color: turquoise; /* Terminal text color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url("../images/Background_1.png");
    background-size: cover;
    
  }

  @media (max-width: 768px) {
    body {
      min-height: 100vh;
      background-image: url("../images/Background_2.png");
      background-size: 100% 100%;
      }
  }

  label {
    margin-top: 300px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
  }

  input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
  }

  section {
    border: 2px solid purple; /* Terminal border */
    padding: 20px;
    margin: auto; /* Center the terminal */
    max-width: 800px; /* Limit terminal width */
    background-color:black;
  }
table{
    padding: 10px;
    border-style: dashed;
    border-color:gray;
}
  h1 {
    text-align: center;
    font-size: 24px; /* Font size in pixels */
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    color: turquoise; /* Header text color */
    margin-bottom: 20px; /* Add margin below header */
  }
h2{
    text-align: center;
}
  p {
    font-size: 18px; /* Font size in pixels */
    line-height: 1.5; /* Line height for better readability */
  }
  button {
    background-color: black; /* Black background */
    border: 2px solid purple; /* Green border */
    color: turquoise; /* Dark green text color */
    padding: 20px 40px; /* Adjust padding to increase button size */
    text-align: center;
    text-decoration: none;
    display: block; /* Center the button */
    font-size: 24px; /* Adjust font size */
    margin: 20px auto 0 auto; /* Center the button */
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

